:root {
  --backgroundColor: #062863;
  --white: white;
  --paragraph: #4a5568;
  --formHead: #083e9e;
  --label: #4a5568;
  --formBg: #edf2f7;
  --button: #083e9e;
  --buttonHover: #062863;
  --footerHover: #9fa3aa;
}
